<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100655390720-t0s7hclihrnbsbe9via02np30sbs6c8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100655390720-t0s7hclihrnbsbe9via02np30sbs6c8h</string>
	<key>API_KEY</key>
	<string>AIzaSyCsV4qIMTFjP-meTXoTPzse5sfZhfQzcRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>100655390720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uuttff8.Niceter</string>
	<key>PROJECT_ID</key>
	<string>gittker-939f8</string>
	<key>STORAGE_BUCKET</key>
	<string>gittker-939f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100655390720:ios:d4a37aef018377cd0a78e5</string>
	<key>DATABASE_URL</key>
	<string>https://gittker-939f8.firebaseio.com</string>
</dict>
</plist>