<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OAuthClientId</key>
	<string>22e734b99f3868605d8acb5f1d9c6d6ecb431082</string>
	<key>OAuthClientSecret</key>
	<string>80dc86ac43895cf9aad5c5e71c135fd71466c958</string>
	<key>OAuthCallback</key>
	<string>niceter://</string>
</dict>
</plist>
