<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OAuthClientId</key>
	<string>bab3c21b76d47686e5b28792b9d17864d72c4878</string>
	<key>OAuthClientSecret</key>
	<string>7273c87c5ad52b5335a995afa79022c55ce24a5d</string>
	<key>OAuthCallback</key>
	<string>gittker://</string>
</dict>
</plist>
